
NEXT_PUBLIC_SUPABASE_URL="https://mlgnaxenlkvupdxzcdqi.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1sZ25heGVubGt2dXBkeHpjZHFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNjMyMjcsImV4cCI6MjA5NDgzOTIyN30.0IwpkiV3hPN1_afJEUZDgrtIBFWX1U7Zm1Z8HbmQEKk"
B55awbdILqgLDWl9